  ion-card {
    border-radius: 10px;
    box-shadow: none;
}

ion-item-divider {
  --background: dark;
}

@media (prefers-color-scheme: dark) {





}

@media (prefers-color-scheme: light) {
  ion-segment {
    --background: white;
  }

  ion-item-divider {
    --background: white;
  }


}

