  ion-card {
    border-radius: 10px;
    box-shadow: none;
}

ion-item-divider {
  --background: dark;
}

@media (prefers-color-scheme: dark) {


}

@media (prefers-color-scheme: light) {
  ion-segment {
    --background: white;
  }

  ion-item-divider {
    --background: white;
  }


}

ion-segment[scrollable="true"] ::-webkit-scrollbar {
        display: none; /* Hides the scrollbar visually */
        width: 0; /* Ensures no space is taken by the scrollbar */
        height: 0; /* Ensures no space is taken by the scrollbar */
    }

.with-tab-padding {
    --padding-bottom: 60px;
  }