.intro-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.swiper {
    margin: 0px 20px;
    flex-grow: 1;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ion-footer {
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 10;
}
